body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  margin: 30px;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  min-width: 50px;
  padding: 8px;
  font-size: 16px;
  text-align: left;
}
tr:nth-child(odd) {
  background-color: #dbdbdb;
}

th{
  background-color: #95A5A6;
  text-transform: uppercase;
}


